#bio_ep_close {
    position: absolute;
    right: 8px;
    top: 0;
    z-index: 99;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.tmp3-img-content img {
    width: 100%;
}

.tmp3-text-content {
    text-align: center;
}

.tmp3-form button {
    margin-top: 2%;
}

.popup-loader {
    display: none;
    margin-top: -70%;
    position: absolute;
    width: 100%;
    padding-top: 15px;
}

.tmp3-input {
    border: 1px solid;
    border-radius: 17px !important;
    border-color: #e5e5e5 !important;
    width: 90% !important;
    height: 35px !important;
    font-family: sans-serif !important;
}
